/* Google Fonts Import - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/dark/main.css";

#root,
html {
  margin: 0;
}

arcgis-map {
  display: block;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
