--
-- PostgreSQL database dump
--

\restrict WSS0jYhmrkWoDZlUFoXdjhd2GbA2d1wHReyZef4E2kjNRfBdmDFayf56pCM5ZEP

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: apply_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.apply_status AS ENUM (
    'applied',
    'shortlisted',
    'interview_scheduled',
    'interview_completed',
    'offer_made',
    'hired',
    'rejected',
    'withdrawn'
);


ALTER TYPE public.apply_status OWNER TO postgres;

--
-- Name: credit_tx_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.credit_tx_type AS ENUM (
    'signup_bonus',
    'purchase',
    'refund',
    'ai_resume_parse',
    'ai_job_match',
    'ai_candidate_match',
    'ai_skill_suggest',
    'ai_resume_builder',
    'ai_content_write',
    'ai_resume_improve',
    'admin_grant',
    'admin_deduct',
    'expiry'
);


ALTER TYPE public.credit_tx_type OWNER TO postgres;

--
-- Name: exp_level; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.exp_level AS ENUM (
    'entry',
    'junior',
    'mid',
    'senior',
    'lead',
    'executive'
);


ALTER TYPE public.exp_level OWNER TO postgres;

--
-- Name: gender_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.gender_type AS ENUM (
    'male',
    'female',
    'other',
    'prefer not to say'
);


ALTER TYPE public.gender_type OWNER TO postgres;

--
-- Name: job_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_status AS ENUM (
    'draft',
    'active',
    'paused',
    'closed',
    'expired',
    'published'
);


ALTER TYPE public.job_status OWNER TO postgres;

--
-- Name: job_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.job_type AS ENUM (
    'full_time',
    'part_time',
    'contract',
    'freelance',
    'internship'
);


ALTER TYPE public.job_type OWNER TO postgres;

--
-- Name: notif_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notif_type AS ENUM (
    'application_update',
    'job_match',
    'candidate_match',
    'credit_low',
    'credit_purchase',
    'message',
    'system'
);


ALTER TYPE public.notif_type OWNER TO postgres;

--
-- Name: payment_gateway; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_gateway AS ENUM (
    'razorpay',
    'stripe',
    'paypal'
);


ALTER TYPE public.payment_gateway OWNER TO postgres;

--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_status AS ENUM (
    'pending',
    'completed',
    'failed',
    'refunded'
);


ALTER TYPE public.payment_status OWNER TO postgres;

--
-- Name: project_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.project_type AS ENUM (
    'academic',
    'company',
    'personal'
);


ALTER TYPE public.project_type OWNER TO postgres;

--
-- Name: resume_section; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.resume_section AS ENUM (
    'summary',
    'experience',
    'education',
    'skills',
    'projects',
    'certifications',
    'awards',
    'languages',
    'custom'
);


ALTER TYPE public.resume_section OWNER TO postgres;

--
-- Name: resume_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.resume_status AS ENUM (
    'queued',
    'processing',
    'completed',
    'failed'
);


ALTER TYPE public.resume_status OWNER TO postgres;

--
-- Name: salary_currency; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.salary_currency AS ENUM (
    'INR',
    'USD',
    'EUR',
    'GBP',
    'AED',
    'SGD'
);


ALTER TYPE public.salary_currency OWNER TO postgres;

--
-- Name: skill_level; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.skill_level AS ENUM (
    'beginner',
    'intermediate',
    'advanced',
    'expert'
);


ALTER TYPE public.skill_level OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'jobseeker',
    'recruiter',
    'admin',
    'consultant'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_status AS ENUM (
    'active',
    'suspended',
    'deleted',
    'pending_verification'
);


ALTER TYPE public.user_status OWNER TO postgres;

--
-- Name: work_mode; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.work_mode AS ENUM (
    'onsite',
    'remote',
    'hybrid'
);


ALTER TYPE public.work_mode OWNER TO postgres;

--
-- Name: add_credits(uuid, integer, public.credit_tx_type, text, uuid, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits(p_user_id uuid, p_amount integer, p_type public.credit_tx_type, p_description text, p_ref_id uuid DEFAULT NULL::uuid, p_ref_type text DEFAULT NULL::text) RETURNS integer
    LANGUAGE plpgsql
    AS $$    -- returns new balance
DECLARE
    v_wallet_id   UUID;
    v_new_balance INTEGER;
BEGIN
    SELECT id INTO v_wallet_id
    FROM credit_wallets
    WHERE user_id = p_user_id
    FOR UPDATE;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'Wallet not found for user %', p_user_id;
    END IF;

    UPDATE credit_wallets
    SET balance        = balance + p_amount,
        lifetime_earned = lifetime_earned + p_amount,
        updated_at     = NOW()
    WHERE id = v_wallet_id
    RETURNING balance INTO v_new_balance;

    INSERT INTO credit_transactions
        (wallet_id, user_id, type, amount, balance_after, description, ref_id, ref_type)
    VALUES
        (v_wallet_id, p_user_id, p_type, p_amount, v_new_balance, p_description, p_ref_id, p_ref_type);

    RETURN v_new_balance;
END;
$$;


ALTER FUNCTION public.add_credits(p_user_id uuid, p_amount integer, p_type public.credit_tx_type, p_description text, p_ref_id uuid, p_ref_type text) OWNER TO postgres;

--
-- Name: deduct_credits(uuid, integer, public.credit_tx_type, text, uuid, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.deduct_credits(p_user_id uuid, p_amount integer, p_type public.credit_tx_type, p_description text, p_ref_id uuid DEFAULT NULL::uuid, p_ref_type text DEFAULT NULL::text) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_wallet_id     UUID;
    v_balance       INTEGER;
    v_new_balance   INTEGER;
BEGIN
    -- Lock the wallet row for this transaction
    SELECT id, balance INTO v_wallet_id, v_balance
    FROM credit_wallets
    WHERE user_id = p_user_id
    FOR UPDATE;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'Wallet not found for user %', p_user_id;
    END IF;

    IF v_balance < p_amount THEN
        RETURN FALSE;  -- insufficient credits
    END IF;

    v_new_balance := v_balance - p_amount;

    UPDATE credit_wallets
    SET balance        = v_new_balance,
        lifetime_spent = lifetime_spent + p_amount,
        updated_at     = NOW()
    WHERE id = v_wallet_id;

    INSERT INTO credit_transactions
        (wallet_id, user_id, type, amount, balance_after, description, ref_id, ref_type)
    VALUES
        (v_wallet_id, p_user_id, p_type, -p_amount, v_new_balance, p_description, p_ref_id, p_ref_type);

    RETURN TRUE;
END;
$$;


ALTER FUNCTION public.deduct_credits(p_user_id uuid, p_amount integer, p_type public.credit_tx_type, p_description text, p_ref_id uuid, p_ref_type text) OWNER TO postgres;

--
-- Name: expire_old_jobs(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.expire_old_jobs() RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE rows_updated INTEGER;
BEGIN
    UPDATE jobs
    SET status = 'expired', closed_at = NOW()
    WHERE status = 'active'
      AND expires_at IS NOT NULL
      AND expires_at < NOW();

    GET DIAGNOSTICS rows_updated = ROW_COUNT;
    RETURN rows_updated;
END;
$$;


ALTER FUNCTION public.expire_old_jobs() OWNER TO postgres;

--
-- Name: grant_signup_credits(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.grant_signup_credits() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    wallet_id INTEGER;  -- Γ£à changed from UUID ΓåÆ INTEGER
BEGIN
    INSERT INTO credit_wallets (user_id, balance, lifetime_earned)
    VALUES (NEW.id, 100, 100)
    RETURNING id INTO wallet_id;

    INSERT INTO credit_transactions (
        wallet_id,
        user_id,
        type,
        amount,
        balance_after,
        description
    )
    VALUES (
        wallet_id,
        NEW.id,
        'signup_bonus',
        100,
        100,
        'Welcome! 100 free credits on signup.'
    );

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.grant_signup_credits() OWNER TO postgres;

--
-- Name: increment_job_views(uuid, uuid, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.increment_job_views(p_job_id uuid, p_user_id uuid, p_ip_hash text) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO job_views (job_id, user_id, ip_hash) VALUES (p_job_id, p_user_id, p_ip_hash);
    UPDATE jobs SET view_count = view_count + 1 WHERE id = p_job_id;
END;
$$;


ALTER FUNCTION public.increment_job_views(p_job_id uuid, p_user_id uuid, p_ip_hash text) OWNER TO postgres;

--
-- Name: purge_expired_matches(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.purge_expired_matches() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    DELETE FROM ai_job_matches       WHERE expires_at < NOW();
    DELETE FROM ai_candidate_matches WHERE expires_at < NOW();
    DELETE FROM skill_suggestions    WHERE expires_at < NOW();
END;
$$;


ALTER FUNCTION public.purge_expired_matches() OWNER TO postgres;

--
-- Name: trigger_set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trigger_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.trigger_set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: certifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certifications (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    name text NOT NULL,
    issuer text,
    issue_date date,
    expiry_date date,
    credential_id text,
    credential_url text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.certifications OWNER TO postgres;

--
-- Name: certifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.certifications ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.certifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    name text NOT NULL,
    slug text,
    logo_url text,
    website text,
    industry text,
    size_range text,
    founded_year integer,
    description text,
    headquarters text,
    linkedin_url text,
    is_verified boolean DEFAULT false,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.companies ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.companies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: credit_packs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.credit_packs (
    id integer NOT NULL,
    name text NOT NULL,
    credits integer NOT NULL,
    bonus_credits integer DEFAULT 0 NOT NULL,
    price numeric(10,2) NOT NULL,
    currency text DEFAULT 'INR'::text NOT NULL,
    is_popular boolean DEFAULT false,
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.credit_packs OWNER TO postgres;

--
-- Name: credit_packs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.credit_packs ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.credit_packs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: credit_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.credit_transactions (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    wallet_id integer,
    type public.credit_tx_type NOT NULL,
    amount integer NOT NULL,
    balance_after integer NOT NULL,
    description text,
    ref_id uuid,
    ref_type text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.credit_transactions OWNER TO postgres;

--
-- Name: credit_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.credit_transactions ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.credit_transactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: credit_wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.credit_wallets (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    balance integer DEFAULT 0 NOT NULL,
    lifetime_earned integer DEFAULT 0 NOT NULL,
    lifetime_spent integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT credit_wallets_balance_check CHECK ((balance >= 0))
);


ALTER TABLE public.credit_wallets OWNER TO postgres;

--
-- Name: credit_wallets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.credit_wallets ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.credit_wallets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id bigint NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: education; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.education (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    institution text NOT NULL,
    degree text,
    field_of_study text,
    grade text,
    start_year integer,
    end_year integer,
    is_current boolean DEFAULT false,
    description text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.education OWNER TO postgres;

--
-- Name: education_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.education ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.education_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: job_postings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_postings (
    id bigint NOT NULL,
    slug text NOT NULL,
    status public.job_status DEFAULT 'draft'::public.job_status NOT NULL,
    description text,
    summary text,
    experience_min_yrs integer,
    experience_max_yrs integer,
    experience_level text,
    salary_min numeric,
    salary_max numeric,
    salary_currency public.salary_currency,
    salary_is_hidden boolean DEFAULT false,
    salary_display text,
    job_type public.job_type,
    work_mode public.work_mode,
    openings integer DEFAULT 1,
    department text,
    company_id bigint NOT NULL,
    recruiter_id bigint,
    apply_url text,
    ai_summary text,
    ai_tags text[],
    job_embedding public.vector(384),
    posted_at timestamp with time zone,
    expires_at timestamp with time zone,
    closed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    view_count bigint DEFAULT 0,
    apply_count bigint DEFAULT 0,
    search_vector tsvector GENERATED ALWAYS AS (to_tsvector('english'::regconfig, ((((COALESCE(description, ''::text) || ' '::text) || COALESCE(summary, ''::text)) || ' '::text) || COALESCE(ai_summary, ''::text)))) STORED,
    title text NOT NULL,
    location text,
    state text,
    city text,
    country text
);


ALTER TABLE public.job_postings OWNER TO postgres;

--
-- Name: job_postings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_postings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_postings_id_seq OWNER TO postgres;

--
-- Name: job_postings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_postings_id_seq OWNED BY public.job_postings.id;


--
-- Name: job_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_skills (
    job_posting_id integer NOT NULL,
    skills_id integer NOT NULL,
    created_date date DEFAULT now() NOT NULL
);


ALTER TABLE public.job_skills OWNER TO postgres;

--
-- Name: jobseeker_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobseeker_profiles (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    headline text,
    summary text,
    gender public.gender_type,
    date_of_birth date,
    current_location text,
    preferred_locations text[],
    years_of_experience numeric(4,1),
    notice_period_days integer,
    current_salary numeric(12,2),
    expected_salary numeric(12,2),
    salary_currency public.salary_currency DEFAULT 'INR'::public.salary_currency,
    is_actively_looking boolean DEFAULT true,
    linkedin_url text,
    github_url text,
    portfolio_url text,
    profile_completion integer DEFAULT 0,
    profile_embedding public.vector(1536),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    marital_status text,
    CONSTRAINT jobseeker_profiles_profile_completion_check CHECK (((profile_completion >= 0) AND (profile_completion <= 100)))
);


ALTER TABLE public.jobseeker_profiles OWNER TO postgres;

--
-- Name: jobseeker_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobseeker_profiles ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.jobseeker_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: jobseeker_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobseeker_skills (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    level public.skill_level DEFAULT 'intermediate'::public.skill_level,
    years numeric(4,1),
    is_primary boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    skill_id integer
);


ALTER TABLE public.jobseeker_skills OWNER TO postgres;

--
-- Name: jobseeker_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jobseeker_skills ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.jobseeker_skills_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.languages (
    id integer NOT NULL,
    language text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.languages OWNER TO postgres;

--
-- Name: languages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.languages ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.languages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: oauth_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.oauth_accounts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    provider text NOT NULL,
    provider_uid text NOT NULL,
    access_token text,
    refresh_token text,
    token_expires timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT oauth_accounts_provider_check CHECK ((provider = ANY (ARRAY['google'::text, 'linkedin'::text, 'github'::text])))
);


ALTER TABLE public.oauth_accounts OWNER TO postgres;

--
-- Name: project_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_skills (
    project_id integer NOT NULL,
    skill_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.project_skills OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    url text,
    repo_url text,
    start_date date,
    end_date date,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    project_type public.project_type,
    skills_used text[],
    work_experience_id integer
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.projects ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.projects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: recruiters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recruiters (
    id bigint NOT NULL,
    company_id bigint NOT NULL,
    designation text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.recruiters OWNER TO postgres;

--
-- Name: recruiters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recruiters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recruiters_id_seq OWNER TO postgres;

--
-- Name: recruiters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recruiters_id_seq OWNED BY public.recruiters.id;


--
-- Name: resumes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resumes (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    file_name text NOT NULL,
    file_url text NOT NULL,
    parsed_at timestamp with time zone,
    parsed_summary text,
    resume_embedding public.vector(384),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    mime_type text
);


ALTER TABLE public.resumes OWNER TO postgres;

--
-- Name: resumes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.resumes ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.resumes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id integer NOT NULL,
    name text NOT NULL,
    category text,
    aliases text[],
    is_trending boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.skills ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.skills_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_languages (
    user_id uuid NOT NULL,
    language_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_languages OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text,
    phone text CONSTRAINT users_mobile_not_null NOT NULL,
    role public.user_role DEFAULT 'jobseeker'::public.user_role NOT NULL,
    status public.user_status DEFAULT 'pending_verification'::public.user_status NOT NULL,
    full_name text,
    avatar_url text,
    is_email_verified boolean DEFAULT false,
    is_phone_verified boolean DEFAULT false,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    resume_status public.resume_status DEFAULT 'queued'::public.resume_status NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: work_experiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_experiences (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    title text NOT NULL,
    location text,
    start_date date NOT NULL,
    end_date date,
    is_current boolean DEFAULT false,
    description text,
    skills_used text[],
    achievements text[],
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    company_id integer
);


ALTER TABLE public.work_experiences OWNER TO postgres;

--
-- Name: work_experiences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.work_experiences ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.work_experiences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: work_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_skills (
    created_at timestamp with time zone DEFAULT now(),
    work_id integer NOT NULL,
    skill_id integer NOT NULL
);


ALTER TABLE public.work_skills OWNER TO postgres;

--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: job_postings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_postings ALTER COLUMN id SET DEFAULT nextval('public.job_postings_id_seq'::regclass);


--
-- Name: recruiters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruiters ALTER COLUMN id SET DEFAULT nextval('public.recruiters_id_seq'::regclass);


--
-- Name: certifications certifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certifications
    ADD CONSTRAINT certifications_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: companies companies_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_slug_key UNIQUE (slug);


--
-- Name: credit_packs credit_packs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_packs
    ADD CONSTRAINT credit_packs_pkey PRIMARY KEY (id);


--
-- Name: credit_transactions credit_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_pkey PRIMARY KEY (id);


--
-- Name: credit_wallets credit_wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_wallets
    ADD CONSTRAINT credit_wallets_pkey PRIMARY KEY (id);


--
-- Name: credit_wallets credit_wallets_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_wallets
    ADD CONSTRAINT credit_wallets_user_id_key UNIQUE (user_id);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: education education_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT education_pkey PRIMARY KEY (id);


--
-- Name: job_postings job_postings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_postings
    ADD CONSTRAINT job_postings_pkey PRIMARY KEY (id);


--
-- Name: job_skills job_skills_pkkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_pkkey PRIMARY KEY (job_posting_id, skills_id);


--
-- Name: jobseeker_profiles jobseeker_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_profiles
    ADD CONSTRAINT jobseeker_profiles_pkey PRIMARY KEY (id);


--
-- Name: jobseeker_profiles jobseeker_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_profiles
    ADD CONSTRAINT jobseeker_profiles_user_id_key UNIQUE (user_id);


--
-- Name: jobseeker_skills jobseeker_skill_id_user_id_ukey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_skills
    ADD CONSTRAINT jobseeker_skill_id_user_id_ukey UNIQUE (user_id, skill_id);


--
-- Name: jobseeker_skills jobseeker_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_skills
    ADD CONSTRAINT jobseeker_skills_pkey PRIMARY KEY (id);


--
-- Name: languages languages_language_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_language_key UNIQUE (language);


--
-- Name: languages languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_pkey PRIMARY KEY (id);


--
-- Name: oauth_accounts oauth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_pkey PRIMARY KEY (id);


--
-- Name: oauth_accounts oauth_accounts_provider_provider_uid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_provider_provider_uid_key UNIQUE (provider, provider_uid);


--
-- Name: project_skills project_skill_id_project_id_ukey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_skills
    ADD CONSTRAINT project_skill_id_project_id_ukey UNIQUE (project_id, skill_id);


--
-- Name: project_skills project_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_skills
    ADD CONSTRAINT project_skills_pkey PRIMARY KEY (project_id, skill_id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: recruiters recruiters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruiters
    ADD CONSTRAINT recruiters_pkey PRIMARY KEY (id);


--
-- Name: resumes resumes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT resumes_pkey PRIMARY KEY (id);


--
-- Name: skills skills_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_name_key UNIQUE (name);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: resumes user_file; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT user_file UNIQUE (user_id) INCLUDE (file_name, file_url);


--
-- Name: user_languages user_languages_user_id_language_id_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_user_id_language_id_pkey PRIMARY KEY (user_id, language_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: work_experiences work_experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_experiences
    ADD CONSTRAINT work_experiences_pkey PRIMARY KEY (id);


--
-- Name: work_skills work_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_skills
    ADD CONSTRAINT work_skills_pkey PRIMARY KEY (work_id, skill_id);


--
-- Name: idx_cert_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cert_user ON public.certifications USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_companies_fts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_fts ON public.companies USING gin (to_tsvector('english'::regconfig, ((COALESCE(name, ''::text) || ' '::text) || COALESCE(description, ''::text)))) WITH (fastupdate='true', gin_pending_list_limit='4194304');


--
-- Name: idx_companies_industry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_industry ON public.companies USING btree (industry) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_companies_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_slug ON public.companies USING btree (slug) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_companies_verified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_companies_verified ON public.companies USING btree (is_verified) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_ctx_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ctx_created ON public.credit_transactions USING btree (created_at DESC) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_ctx_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ctx_type ON public.credit_transactions USING btree (type) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_ctx_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ctx_user ON public.credit_transactions USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_edu_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_edu_user ON public.education USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_exp_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_exp_user ON public.work_experiences USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_job_feed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_feed ON public.job_postings USING btree (status, posted_at DESC, work_mode, job_type);


--
-- Name: idx_job_postings_ai_tags; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_ai_tags ON public.job_postings USING gin (ai_tags);


--
-- Name: idx_job_postings_apply_count; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_apply_count ON public.job_postings USING btree (apply_count DESC);


--
-- Name: idx_job_postings_company_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_company_id ON public.job_postings USING btree (company_id);


--
-- Name: idx_job_postings_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_department ON public.job_postings USING btree (department);


--
-- Name: idx_job_postings_embedding; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_embedding ON public.job_postings USING ivfflat (job_embedding public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_job_postings_experience; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_experience ON public.job_postings USING btree (experience_min_yrs, experience_max_yrs);


--
-- Name: idx_job_postings_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_expires_at ON public.job_postings USING btree (expires_at);


--
-- Name: idx_job_postings_job_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_job_type ON public.job_postings USING btree (job_type);


--
-- Name: idx_job_postings_recruiter_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_recruiter_id ON public.job_postings USING btree (recruiter_id);


--
-- Name: idx_job_postings_salary_range; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_salary_range ON public.job_postings USING btree (salary_min, salary_max);


--
-- Name: idx_job_postings_search_vector; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_search_vector ON public.job_postings USING gin (search_vector);


--
-- Name: idx_job_postings_status_posted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_status_posted_at ON public.job_postings USING btree (status, posted_at DESC);


--
-- Name: idx_job_postings_view_count; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_view_count ON public.job_postings USING btree (view_count DESC);


--
-- Name: idx_job_postings_work_mode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_job_postings_work_mode ON public.job_postings USING btree (work_mode);


--
-- Name: idx_js_embedding; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_js_embedding ON public.jobseeker_profiles USING hnsw (profile_embedding public.vector_cosine_ops);


--
-- Name: idx_js_experience; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_js_experience ON public.jobseeker_profiles USING btree (years_of_experience) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_js_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_js_location ON public.jobseeker_profiles USING btree (current_location) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_js_looking; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_js_looking ON public.jobseeker_profiles USING btree (is_actively_looking) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_js_skills_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_js_skills_user ON public.jobseeker_skills USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_js_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_js_user ON public.jobseeker_profiles USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_languages_language; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_languages_language ON public.languages USING btree (language) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_oauth_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_oauth_user ON public.oauth_accounts USING btree (user_id);


--
-- Name: idx_projects_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_projects_user ON public.projects USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_resumes_emb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resumes_emb ON public.resumes USING hnsw (resume_embedding public.vector_cosine_ops);


--
-- Name: idx_resumes_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_resumes_user ON public.resumes USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_skills_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_skills_category ON public.skills USING btree (category) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_skills_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_skills_name ON public.skills USING btree (name) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_skills_trending; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_skills_trending ON public.skills USING btree (is_trending) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: idx_skills_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_skills_trgm ON public.skills USING gin (name public.gin_trgm_ops) WITH (fastupdate='true', gin_pending_list_limit='4194304');


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: idx_wallet_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_wallet_user ON public.credit_wallets USING btree (user_id) WITH (fillfactor='100', deduplicate_items='true');


--
-- Name: companies trg_companies_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_companies_updated_at BEFORE UPDATE ON public.companies FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: credit_wallets trg_credit_wallets_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_credit_wallets_updated_at BEFORE UPDATE ON public.credit_wallets FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: jobseeker_profiles trg_jobseeker_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_jobseeker_profiles_updated_at BEFORE UPDATE ON public.jobseeker_profiles FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: resumes trg_resumes_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_resumes_updated_at BEFORE UPDATE ON public.resumes FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: users trg_user_signup_credits; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_user_signup_credits AFTER INSERT ON public.users FOR EACH ROW EXECUTE FUNCTION public.grant_signup_credits();


--
-- Name: users trg_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.trigger_set_updated_at();


--
-- Name: certifications certifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certifications
    ADD CONSTRAINT certifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: companies companies_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: credit_transactions credit_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: credit_transactions credit_transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.credit_wallets(id) NOT VALID;


--
-- Name: credit_wallets credit_wallets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.credit_wallets
    ADD CONSTRAINT credit_wallets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: education education_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT education_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: job_postings job_postings_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_postings
    ADD CONSTRAINT job_postings_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: job_postings job_postings_recruiter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_postings
    ADD CONSTRAINT job_postings_recruiter_id_fkey FOREIGN KEY (recruiter_id) REFERENCES public.recruiters(id);


--
-- Name: job_skills job_skills_job_posting_fkkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_job_posting_fkkey FOREIGN KEY (job_posting_id) REFERENCES public.job_postings(id);


--
-- Name: job_skills job_skills_skills_fkkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_skills
    ADD CONSTRAINT job_skills_skills_fkkey FOREIGN KEY (skills_id) REFERENCES public.skills(id);


--
-- Name: jobseeker_profiles jobseeker_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_profiles
    ADD CONSTRAINT jobseeker_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: jobseeker_skills jobseeker_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_skills
    ADD CONSTRAINT jobseeker_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) NOT VALID;


--
-- Name: jobseeker_skills jobseeker_skills_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobseeker_skills
    ADD CONSTRAINT jobseeker_skills_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: oauth_accounts oauth_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: project_skills project_skills_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_skills
    ADD CONSTRAINT project_skills_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id) NOT VALID;


--
-- Name: project_skills project_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_skills
    ADD CONSTRAINT project_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) NOT VALID;


--
-- Name: projects projects_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: projects projects_work_experience_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_work_experience_id_fkey FOREIGN KEY (work_experience_id) REFERENCES public.work_experiences(id) NOT VALID;


--
-- Name: recruiters recruiters_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recruiters
    ADD CONSTRAINT recruiters_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: resumes resumes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resumes
    ADD CONSTRAINT resumes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_languages user_languages_language_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_language_id_fkey FOREIGN KEY (language_id) REFERENCES public.languages(id) NOT VALID;


--
-- Name: user_languages user_languages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_languages
    ADD CONSTRAINT user_languages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) NOT VALID;


--
-- Name: work_experiences work_experiences_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_experiences
    ADD CONSTRAINT work_experiences_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) NOT VALID;


--
-- Name: work_experiences work_experiences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_experiences
    ADD CONSTRAINT work_experiences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: work_skills work_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_skills
    ADD CONSTRAINT work_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) NOT VALID;


--
-- Name: work_skills work_skills_work_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_skills
    ADD CONSTRAINT work_skills_work_id_fkey FOREIGN KEY (work_id) REFERENCES public.work_experiences(id) NOT VALID;


--
-- PostgreSQL database dump complete
--

\unrestrict WSS0jYhmrkWoDZlUFoXdjhd2GbA2d1wHReyZef4E2kjNRfBdmDFayf56pCM5ZEP

